<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accurascan.ocr.mrz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.OcrResultActivity" />
        <activity android:name=".ui.OcrActivity" />
    </application>
</manifest>


